## **Working with Python DataFrame**
In this activity we will be using a US Crime Rate dataset to look at different type of crime rates in different states between the years of 1960 to 2003. This notebook is an introduction to exploring tabular data using the pandas library

### **Learning outcome:**
- To learn to examine tabular raw data with a pandas dataframe
- To learn to filter data from a dataframe using index- or label-based selection.

In [ ]:
# Importing libraries
import pandas as pd
pd.options.display.float_format = "{:,.2f}".format #Display only 2 decimals

In [ ]:
# Read in data set and converting it to a pandas dataframe
crime_rates = pd.read_csv('https://raw.githubusercontent.com/csbfx/advpy122-data/master/crime_rates.csv')

In [ ]:
# Let's take a look at the dataframe using head()

In [ ]:
### Summary of DataFrame

In [ ]:
### Descriptive statistics for numerical columns

In [ ]:
### Customize the dataframe using our column names
crime_rates.columns = ['state', 'year', 'pop', 'violent', 'murder',
                       'rape', 'robbery', 'assault', 'property',
                       'burglary', 'larceny','vehicle']

## There is another way to do this where you can assign the column name to a list first. See if you can try both ways.

## Data manipulation and analysis
You can select rows with sepcific column value that you specify

In [ ]:
alaska_crimes = crime_rates[crime_rates['state']=='Alaska']

#Index operator and attribute selection
## Index-based selection
Pandas has its own indexing operators, `iloc` and `loc`.
- `.iloc[ ]`: index(integer)-based selection that selects data based on its numerical position in the data
- `.loc[ ]`: primarily label based

&nbsp;  
**Indexing in pandas**  
- [start:stop:skip] #stop is exclusive [1:3] --> index 1 & 2  
- [1::2, :] #from the 2nd row all the way to the end every other row, and all the columns  
- [:, :3] #all rows, from the beginning to the 3rd column (0, 1, 2)

In [ ]:
crime_rates.iloc[] #select first row

In [ ]:
crime_rates.iloc[:,] #all rows, first column

The `:` operator from native Python is equivalent to "everything". When combined with other selectors, however, it can be used to indicate a range of values. For example, to select the 'state' column from just the first, second, and third row, we would do:

In [ ]:
crime_rates.iloc[]

## Label-based selection
`loc` operator is an attribute selection that is a label-based selection. The selection is based on the data index value, not its position.

In [ ]:
crime_rates.loc[:, ['year', 'state', 'pop']]

## Simple data analysis
Let's take a look at the crime rates in Alaska throughout the years.

In [ ]:
### Select crimes data for state of Alaska
alaska_crimes =

### Set the year as the index of the DataFrame
alaska_crimes_by_year =
alaska_crimes_by_year.head()

In [ ]:
### Use iloc to select all rows and all the columns about crime rates
### Use plot.line() to create DataFrame (or Series) as lines
lines = alaska_crimes_by_year.iloc[:, 2:].plot.line(ylabel="Number of crime cases", title="Crime cases in Alaska over the years")

# Class Exercise
In class we will break up into different groups and work together to come up with solutions to your assigned question. After your group have finalize their solution, add it to the class notebook below. Remember to include everyone's name under the exercise.  

If you have questions or feedback for each other such as a different approach to the solution, create a new cell with your comments, questions, suggestion, code, etc... Let's work together to learn pandas.

## **Class Exercise CL4.1**
Filter the dataset for counts of robberies, bugarlies and murder cases in Alaska between the year of 1970 and 1979, inclusively. Which year had the highest number of crime cases for each of the three crime types?

&nbsp;
*Hint:*
*   Use `&` to combine two conditions
*   Use df[df['colname'].idxmax()] to get max value
*   Use df.loc[df['colname1'].idxmax(), 'colname2'] to call for the row with max value and return the colname2 value that corresponds to that row

In [ ]:
# Your code

## **Class Exercise CL4.2**
Which state had the highest number of vehicle crimes cases for the year 1982?

In [ ]:
# Your code

## **Class Exercise CL4.3**
Create a line plot that display the number of crime cases for California for the year between 1980 and 2003, inclusively. For the line plot, the horizontal axis is year and vertical axis is the number of crime cases.  

*Hint:*
* df.drop(['colname'], axis 1) can be used to drop a column. Axis 1 is used for columns and axis 0 is for rows.
* See https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.line.html for info on how to use `df.plot.line`

In [ ]:
# Your code

## **Class Exercise CL4.4**
Create a line plot that display the number of crime cases for Oregon between the year 1980 and 2000, inclusively. For the line plot, display the trend line to show only crimes cases under 1000 (where the number of crime cases is on the vertical axis) and the horizontal axis is year.

In [ ]:
# Your code

## **Class Exercise CL4.5**
Create a line plot that display the number of crime cases for Colorado for all the years and excluding the data for burglary, larceny, and property.

In [ ]:
# Your code